*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: sans-serif;
  font-size: 14px;
  line-height: 24px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif;
  margin: 3% 0;
  text-align: center;
}

p{
  font-family: 'Slabo 27px', serif;
  margin: 1% 3%;
}

a, a:hover{
  text-decoration: none;
}

.green{
  width: 800px;
  height: 400px;
  background-color: green;
  position: relative;
  margin: 5% 27%;
}

.red{
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  border-radius: 100%;
  top: 27%;
  left: 38%;
}

.fb-share{
  width: 120px;
  position: fixed;
  top: 41%;
  right: -82px;
  transition: 1s;
}

.fb-share:hover{
  right: 0;
  cursor: pointer;
}

.reddit-share{
  width: 120px;
  position: fixed;
  top: 47%;
  right: -77px;
  transition: 1s;
}

.reddit-share:hover{
  right: 0;
  cursor: pointer;
}

.twitter-share{
  width: 120px;
  position: fixed;
  top: 56%;
  right: -82px;
  transition: 1s;
}

.twitter-share:hover{
  right: 0;
  cursor: pointer;
}

.social-media{
  width: 100%;
  padding: 15px 0;
  background-color: black;
}

.social-icon{
  text-align: center;
  width: 100%;
}

.social-icon li{
  display: inline-block;
  list-style: none;
}

.social-icon li a{
  display: block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: white;
  font-size: 35px;
  margin: 15px 0;
  background: black;
  border-radius: 100%;
}

.social-icon li a:hover{
  background: white;
  color: black;
  transition: 0.8s;
}
